{% extends "base.html" %}

{% block home_sec %}
<!-- Link Customizado para o Contexto da Secretaria -->
    <li class="nav-item">
        <a class="nav-link" href="/home">
            <span class="nav-link-icon"><i class="ti ti-arrow-back-up"></i></span>
            <span class="nav-link-title">Voltar</span>
        </a>
    </li>
{% endblock %}

{% block reunioes_sec %}
    <li class="nav-item">
        <a class="nav-link" href="/secretaria/{{sec_id}}/reunioes">
            <span class="nav-link-icon"><i class="ti ti-calendar"></i></span>
            <span class="nav-link-title">Reuniões</span>
        </a>
    </li>   
{% endblock %}

