<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solicitar Acesso - Gabinete Inteligente</title>
    
    <!-- offline -->
    <link rel="stylesheet" href="{{url_for('static', path='css/tabler-icons.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', path='css/tabler.min.css')}}">

    <!-- online -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@latest/dist/css/tabler.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css"> -->

</head>
<body class="d-flex flex-column bg-light">
    <div class="page page-center">
        <div class="container container-tight py-4">
            <div class="card card-md shadow-sm">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Solicitar Acesso ao Gi</h2>
                    <p class="text-muted text-center small mb-4">Preencha os dados abaixo.</p>
                    
                    <form action="/enviar-solicitacao" method="POST">
                        <div class="mb-3">
                            <label class="form-label">Nome Completo</label>
                            <input type="text" name="nome" class="form-control" placeholder="Digite seu nome" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">E-mail</label>
                            <input type="email" name="email" class="form-control" placeholder="seuemail@prefeitura.gov.br" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Secretaria / Setor</label>
                            <input type="text" name="secretaria" class="form-control" placeholder="Ex: Secretaria de Finanças" required>
                        </div>
                        
                        <div class="form-footer mt-4">
                            <button type="submit" class="btn btn-success w-100 py-2 font-weight-bold">Enviar Solicitação</button>
                        </div>
                    </form>
                    
                    <div class="text-center text-muted mt-3">
                        <a href="/" class="fs-3 text-secondary" style="text-decoration: none">
                            <i class="ti ti-arrow-elbow-left me-1"> </i> Voltar para o Login
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>